{% extends "base.html" %}
{% load static %}
{% block content %}

<head>
  <title>Leveraging templates, building successful appeals</title>
  <meta name="description" content="Leveraging templates, building successful appeals">
</head>

  <main id="main">
    <section id="about-us" class="about-us padd-section">
      <div class="container" data-aos="fade-up">
        <div class="row justify-content-center">
          <div class="col-md-6 col-lg-8">
            <div class="about-content" data-aos="fade-left" data-aos-delay="100">
              <h2>Leveraging templates, building successful appeals</h2>
              <hr></hr>
              <p>Aside from a defense attorney mindset, there are additional processes that can improve your chances of winning an appeal and successfully overturning a denial.</p>
              <p>When Kimberly Huff, COC, CCDS, clinical validation denials coordinator at Providence St. Joseph Health, headquartered in Renton, Washington, receives a denial letter, she first puts it into a spreadsheet. Here, she keeps track of all the denials Providence St. Joseph has received. In the spreadsheet, she logs the status of each denial as well as variables to help her prioritize them, such as payer, review agency, length of stay, and date of denial.</p>
              <p>“Then, when it’s a particular case’s turn for review, I’ll look through the denial rationale,” Huff says. “I’ll see what factors they are using in denying the claim, then I keep that in my head when I go in to look through the record and search for items related to those denial factors.”</p>
              <p>Since Huff mostly sees clinical validation denials, she likes to start by focusing on the clinical aspects.</p>
              <p>“I’ll generally start with looking at the clinical aspects of the record before going into the physician’s note, so I’m starting with labs, vital signs, radiology reports, and so on,” Huff says. “Then I’ll go into the physician documentation to see how it compares to the clinical part of the record. After I finish with the record, I have a comprehensive view of what I’m working with. Then I know if I can make a case for appeal, or if we need to chalk it up and say it’s just a good opportunity for staff education.”</p>
              <p>If Huff feels she has a case for an appeal, she’ll search her folder of successful appeal templates to see if she already has a template that pertains to the open case. If she does, she will use it for the current appeal, and if not, she’ll write an appeal from scratch.</p>
              <p>“The templates start like a regular business letter would, with the date, who it is to, and so on,” she says. “I’ll say exactly why I’m writing; for example, ‘I’m writing to request reconsideration of the denial of patient John Doe.’ I’ll state the level of the appeal, so if it’s level one, or two, and so on.”</p>
              <p>Huff then includes a bullet-point list of the exact reasons that the payer gave for denying the diagnosis. Next, she has a table built where she can add parts of the record to support that Providence St. Joseph has, in fact, documented what the payer is denying. After that section of the template, Huff includes a section of clinical references that support the diagnosis and a comprehensive summary. The summary, according to Huff, is similar to those she used to write as a case manager calling out clinical information to payers to justify the documented diagnosis.</p>
              <p>“If I have a chance to use references against them, I’ll point that out in this section of the document. […] A vast majority of the time, I can use [the payer’s cited] references against them. That really helps with an appeal, and it’s very compelling,” she says. “From there, I have a section that is a comprehensive patient summary. That’s where I help to wrap it all up in a nice little package.”</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
{% endblock content %}
